/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/slider/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
@keyframes page_slide__5dLdO {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-140%);
    }
  }
  .page_logosSlide__FTycc{
    display: flex;
    animation: 10s page_slide__5dLdO infinite linear;
  }
  .page_logosSlide__FTycc:hover{
    animation-play-state: paused;
  }
